body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e0e0e0;
}

.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: none !important;
}

.DateInput_input {
  padding: 0 !important;
}

.DateInput__block {
  width: 80% !important;
}

.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 800px;
  height: 800px;
  background-color: #fff;
}

/* Full page responsive background image */

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}